---
layout: default
title: Home
cover: true
about: about
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">

    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>

    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'></a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- MAIN PAGE -->
<main id="content" class="content" role="main">
	<article class="post">
	I am in pursuit of understanding how the world works. These are little +1's I have picked up along the way. 
	My hope is that at some point they may add up to a <a href="/gut/">GUT</a>.
	</article>

<!-- <div class="branches">
	<h1 class="branch"><a href="exp.html">EXP</a></h1>
	<h1 class="branch"><a href="theory.html">THEORY</a></h1>
	<h1 class="branch"><a href="{{ site.baseurl }}{{ page.about }}">ABOUT ME</a></h1>
</div>
 -->    

 <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}
    
    <article class="post">
        

        <div class="layer">
        {% if post.cover %}
        <a href="{{ post.url }}">
        <div class="post-image" style=" background-image:url( {{ post.cover}} );">
        </div></a>
        {%else%}
        {% endif %}
        </div>
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>        


        <footer class="post-meta">
            <!-- {% if site.author %}
                <a href="/about/"><img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" /></a>
                {{ site.author }}
            {% endif %}
 -->        
            {{ post.content | number_of_words }} words
            {{ post.categories | array_to_sentence_string | prepend: 'about ' }} 

       		<time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">        
            {{ post.date | date_to_string }}
          </time> 
 
     
        </footer>

    </article>
    {% endfor %}

    {% include pagination.html %}





</main>

<style>

path {
  fill: #222222;
  stroke: #f04124;
  stroke-linejoin: round;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script>

var width = 960,
    height = 300;

var svg = d3.select(".vertical").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("g")
    .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")")
  .append("path")
    .attr("d", d3.svg.symbol().type("triangle-down").size(5000))
    .call(twizzle, 10000)
    .call(plonk, 2000);

function twizzle(path, duration) {
  path.transition("twizzle")
      .duration(duration)
      .attrTween("transform", function() { return d3.interpolateString("rotate(0)", "rotate(720)"); })
    .transition()
      .duration(Math.random() * duration)
      .each("end", function() { path.call(twizzle, duration); });
}

function plonk(path, duration) {
  path.transition("plonk")
      .duration(duration)
      .style("stroke-width", "30px")
    .transition()
      .style("stroke-width", "0px")
    .transition()
      .duration(Math.random() * duration)
      .each("end", function() { path.call(plonk, duration); });
}

</script>
