---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

/////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Cinzel);

/////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////

$red:	#f04124;
$grey:	#e9e9e9;
$blue:	#2ba6cb;
$black:	#222222;

/////////////////////////////////////////////////
// INDEX.HTML
/////////////////////////////////////////////////

body, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
}


.vertical {
	background-color: $black;
}

body {
	background-color: rgb(245, 245, 240);
}

section a, .vertical a {
	color: $blue;
	text-decoration: none;
}
section a:hover, .vertical a:hover {
	color: $red;
}

.post-excerpt p {
	display:inline;
}

/////////////////////////////////////////////////
// IN THE POSTS
/////////////////////////////////////////////////

.post-content {
	max-width: 1000px;
}

.post-content p, h3 {
	text-align: left;
	width: 100%;
}

.post-image {
	width: 100%;
	height:200px;
	background: no-repeat;
	background-size: 800px 500px;
	background-position: center;
	opacity: 0.7;
}

.post-image:hover {
	opacity: 1.0;
}

.post-chart {
	right: 0;
	width: 130%;
}


num, sup {
	color: $red;
	font-weight: 600;
	padding: 5px;
}
num {
	font-size: 1.5rem;
	margin-left: -1rem;
}

aside {
	  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: -6.0rem;
  margin-bottom: 1.96rem;
  font-size: 1.2rem;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative;
}

blockquote {
	border-left-color: $red;
}

.archive a:hover {
	color: $blue;
}